.gantt-grid {
    background-image: linear-gradient(to right, #f1f5f9 1px, transparent 1px);
    background-size: 100px 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
